$(document).ready(function(){
  console.log('ready!')

  $("#bart-form").on('submit', function(e){
    e.preventDefault();

    bartAjaxRequest = $.ajax({
      url: "/bart",
      type: "post",
      data: $(this).serialize()
    });

    bartAjaxRequest.done(function(server_data){

      console.log('done!')
      var origin = server_data.origin
      var destination = server_data.destination
      var time = server_data.time

      $("#bart-box").html('<p>' + origin + destination + time + '</p>')

      console.log(server_data)
    });

    bartAjaxRequest.fail(function(){
      console.log('failed!')
    })
  })
})