<div class = "row">
        <div id="widget-box" class = "col-md-2">
           <%= render 'widgets/weather' %>
        </div>

        <div id="widget-box" class = "col-md-3">
          <%= render 'widgets/alarm' %>
        </div>

        <div id="widget-box" class = "col-md-5">
          <%= render 'widgets/news' %>
        </div>

      </div>
    </div>


<div class = "row">

  <div id="widget-box" class = "col-sm-6">
    <%= render 'widgets/stock' %>
  </div>

</div>