<h3> You have <%=@user.widgets.length %> widgets. </h3>
<div class="gridster" id="user-widget-list">
    <ul>
    <% if @user.widgets.length != 0 %>
        <% @user.widgets.each do |widget| %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3"><%= link_to '<button type="button">X</button>'.html_safe, "/widgets/#{widget.id}", method: :delete, data: {confirm: 'Fosho?'} %>   <%= render "widgets/#{widget.name}" %></li>
        <% end %>
    <% end %>
</ul>

<script>
    $('.gridster ul').gridster({
        widget_margins: [10,10], //10px margins
        widget_base_dimensions: [100,100] //100px width/height
    })
</script>
