<% if @user.widgets.length == 0 %>
    <h3>You have no widgets!</h3>
    <button><%= link_to 'Add widgets', add_widgets_path %> </button>
<% else %>
    <h3> You have <%=@user.widgets.length %> widgets. </h3>
    <div class="gridster">
    <ul>
    <% @user.widgets.each do |widget| %>
        <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3"><button><%= link_to 'X', "/widgets/#{widget.id}", method: :delete, data: {confirm: 'Fosho?'} %> </button>  <%= render "widgets/#{widget.name}" %></li>
    <% end %>
<% end %>


<script>
    $('.gridster ul').gridster({
        widget_margins: [10,10], //10px margins
        widget_base_dimensions: [100,100] //100px width/height
    })
</script>
