<video autoplay loop id="bgvid" controls muted>
  <source src="https://ia802205.us.archive.org/1/items/C.E.PriceSunrise/Sunrise_512kb.mp4" type="video/mp4">
</video>

<div class="welcome-logo">
  <div class="site-title">Hello <img src="http://static.rasset.ie/static/news/img/weather/icons/clear-weather-sun.png" width="200px"> World</div>
</div>

<div class="start-button">
<center><a href="/dashboard"><i class="fa fa-cloud fa-5x"> Start</i></a></center>
</div>
