<video autoplay loop id="bgvid" controls muted>
  <source src="http://av.vimeo.com/89594/536/52926309.mp4?token2=1417735913_24b4d77a5d3a70750410d67593f5a09c&aksessionid=fd004f741dd7a3ad" type="video/mp4">
</video>

<div class="welcome-logo">
  <div class="site-title">Hello <img src="http://static.rasset.ie/static/news/img/weather/icons/clear-weather-sun.png" width="200px" id="sun-icon"> World</div>
</div>

<div class="start-button">
<center><a href="/dashboard"><i class="fa fa-cloud fa-5x"> Start</i></a></center>
</div>
