<div class="widget-padding">
    <form id="alarm-form">
      Select a time for your alarm:
      <input type="datetime-local" id="alarm-input" name="time" style="color:black" required>
      <input type="submit" id="alarm-button" value="Submit">
    </form>
</div>
