<h2>Current time: </h2>
<p id="demo"></p>


<form id="alarm-form">
  Select a time for your alarm:
  <input type="time" id="alarm-input" name="time">
  <input type="submit" id="alarm-button" value="Submit">
</form>