<h2>Current time: </h2>
<p id="demo"></p>


<form id="alarm-form">
  Select a time for your alarm:
  <input type="datetime-local" id="alarm-input" name="time">
  <!-- <input type="date" id="alarm-date" name="date">
  <input type="time" id="alarm-time" name="time"> -->
  <input type="submit" id="alarm-button" value="Submit">
</form>


<!-- <form action="" method="">
  <div id="jsalarmclock">
  <div>
    <div class="leftcolumn">Current Time:</div> <span id="jsalarm_ct" style="letter-spacing: 2px"></span></div>
  <div><div class="leftcolumn">Set Alarm:</div> <span><select></select> Hour</span> <span><select></select> Minutes</span> <span><select></select> Seconds</span></div>
  <div><div class="leftcolumn">Set Alarm Action:</div> <input type="text" id="musicloc" size="55" value="https://www.youtube.com/watch?v=Si0a57WonIE" /> <span style="font: normal 11px Tahoma">*Location of page to launch</span></div>
  <input type="submit" value="Set Alarm!" id="submitbutton" /> <input type="reset" value="reset" id="resetbutton" />
  </div>
</form>


<script type="text/javascript">

jsalarm.init()

</script> -->