<table ng-controller="basketballAppCtrl">
  <thead>
    NBA Scores - <%= Date.yesterday %>
    <tr style="size:8px">
      <th></th>
      <th>Home Team</th>
      <th>Score</th>
      <th>Score</th>
      <th>Away Team</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr style="size:8px" ng-repeat="game in GameList">
      <td>
        <img style="width: 25px" ng-src="{{game.home_gif}}" />
      </td>
      <td>{{game.home_team}}</td>
      <td>{{game.home_score}}</td>
      <td>{{game.away_score}}</td>
      <td>{{game.away_team}}</td>
      <td>
        <img style="width: 25px" ng-src="{{game.away_gif}}" />
      </td>
    </tr>
  </tbody>
</table>
