<table ng-controller="footballAppCtrl">
  <thead>
    <div style="font-size: 20px; text-align: center;">NFL Scores - Week 13</div>
    <tr>
      <th></th>
      <th>Home</th>
      <th></th>
      <th></th>
      <th>Away</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="game in GameList">
      <td>
        <img style="width: 25px" ng-src="{{game.home_gif}}" />
      </td>
      <td style="font-size: 14px">{{game.home_team}}</td>
      <td style="font-size: 14px">{{game.home_score}}</td>
      <td style="font-size: 14px">{{game.away_score}}</td>
      <td style="font-size: 14px">{{game.away_team}}</td>
      <td>
        <img style="width: 25px" ng-src="{{game.away_gif}}" />
      </td>
    </tr>
  </tbody>
</table>

