<div id="spotify" style="padding-left: 15px">
 <iframe src="https://embed.spotify.com/?uri=spotify:user:erebore:playlist:788MOXyTfcUb1tdw4oC7KJ&theme=white" height="300" width="300" frameborder="0" allowtransparency="true"></iframe>
</div>
