<div id="spotify" style="padding-left: 15px">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="320" height="300" frameborder="0" allowtransparency="true"></iframe>
</div>



<!-- query params: user:name:playlist:id? -->

<!-- get a user's playlist -->

<!-- playlist scope: playlist-read-private
 -->
