    <!-- Div tag for stories results -->
    <div id='results'></div>

    <!-- The YQL statment will be assigned to src. -->
    <script src='https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20rss%20where%20url%3D%22http%3A%2F%2Frss.news.yahoo.com%2Frss%2Ftopstories%22&format=json&diagnostics=true&callback=top_stories'></script>
