<div id="stocky" ng-controller="stockAppCtrl">
  <table>
    <div style="font-size: 20px; text-align: center;">Stocks - <%= Time.now.strftime("%B %d, %Y - %H:%M:%S") %></div>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in StockList">
        <td style="font-size: 14px">{{stock.symbol}}</td>
        <td style="font-size: 14px">{{stock.name}}</td>
        <td style="font-size: 14px">{{stock.last_trade_price_only | currency}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>Add or Remove Stock Symbol:</div>
  <form ng-submit="form">
    <p><input type="text" style="color: black" ng-model="text" name="symbol" /></p>
    <input type="submit" ng-click="add()" value="Add Stock" />
    <input type="submit" ng-click="remove()" value="Remove Stock" />
  </form>
</div>
