<div ng-controller="stockAppCtrl">
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Current Price</th>
        <th>Mkt Cap</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in StockList">
        <td>{{stock.symbol}}</td>
        <td>{{stock.name}}</td>
        <td>{{stock.last_trade_price_only | currency}}</td>
        <td>${{stock.market_capitalization}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>Add or Remove Stock Symbol:</div>
  <form ng-submit="form">
    <input type="text" ng-model="text" name="symbol" />
    <input type="submit" ng-click="add()" value="Add Stock" />
    <input type="submit" ng-click="remove()" value="Remove Stock" />
  </form>
</div>
