<% @swift_link = Video.tswift %>

<div id="video-widget" style="padding-top: 0px">
  <iframe width="320" height="280" src="//www.youtube.com/embed/<%=@swift_link%>" frameborder="0" allowfullscreen></iframe>
</div>

