<h3>Urban Word of the Day</h3>
<h5><%= Time.now.strftime("%B %d, %Y") %></h5>
<div>Word: <%= @urban_wotd[:word] %></div>
<div>Definition: <%= @urban_wotd[:def] %></div>
<div>Example: <%= @urban_wotd[:example] %></div>
