$('<li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3">WIDGET!!!</li>').appendTo( "#user-widget-list" );
$("#user-widget-list" ).gridster({
        widget_margins: [10,10], //10px margins
        widget_base_dimensions: [100,100] //100px width/height
    })

    var theGrid = $( "#user-widget-list" ).gridster
    theGrid.resize_widget_dimensions({widget_base_dimensions: [100,  100]});



