body {

  min-height: 100%;
  min-width: 100%;
  background-position: center center;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url("http://av.vimeo.com/89594/536/52926309.mp4?token2=1417735913_24b4d77a5d3a70750410d67593f5a09c&aksessionid=fd004f741dd7a3ad") no-repeat;
    background-size: cover;
    opacity: .6;
}


#page-content{
      color: white;
}

a{
    color: white;
}



button {
    opacity: 0.4;
    background-color: transparent;
    border: none;
}

.food_search {
    margin: 10px;
    text-align: center;
}


/*-------------------------
    The news
--------------------------*/

#results {
    width: 100%;
    padding: 5px;
    height: 90%;
    overflow: auto;
}

#results img {
    display: none;
}

#results h3 {
    margin: 0px 0 10px 0;
    font-size: 20px;
}

#results h3 a {
    font-size: 15px;
}

#results h3 a:hover {
    text-decoration: none;
    color: gray;
}

/*-------------------------
    The recipes
--------------------------*/
.foods img {
    padding: 10px;
    width: 90px;
    height: 90px;
}

#smiley-div img{
    margin-top: -25px;
    height: 100px;
    width: 100px;
}

.foods {
    padding: 0 5% 5% 7%;
}

/*-------------------------
    The clocks
--------------------------*/


#clock{
    width: 100%;
    height: 89%;
    padding:27px;
    margin: auto;
    position:relative;
}

#clock:after{
    content:'';
    position:absolute;
    width:400px;
    height:20px;
    border-radius:100%;
    left:50%;
    margin-left:-200px;
    bottom:2px;
    z-index:-1;
}


#clock .display{
    text-align:center;
    padding: 30px 20px 20px;
    border-radius:6px;
    position:relative;
    height: 100px;
}


/*-------------------------
    Light color theme
--------------------------*/


#clock.light{
    background-color:#f3f3f3;
    color:#272e38;
}

#clock.light:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
    background-color:#272e38;
    border-color:#272e38;
}

#clock.light .digits div.dots:before,
#clock.light .digits div.dots:after{
    background-color:#272e38;
}

#clock.light .display{
    background-color:#dddddd;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
    Dark color theme
--------------------------*/


#clock.dark{
    background-color:#272e38;
    color:#cacaca;
}

#clock.dark:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#clock.dark .digits div span{
    background-color:#cacaca;
    border-color:#cacaca;
}

#clock.dark .display{
    background-color:#0f1620;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after{
    background-color:#cacaca;
}


/*-------------------------
    The Digits
--------------------------*/


#clock .digits div{
    text-align:left;
    position:relative;
    width: 28px;
    height:50px;
    display:inline-block;
    margin:0 4px;
}

#clock .digits div span{
    opacity:0;
    position:absolute;

    -webkit-transition:0.25s;
    -moz-transition:0.25s;
    transition:0.25s;
}

#clock .digits div span:before,
#clock .digits div span:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border:5px solid transparent;
}

#clock .digits .d1{         height:5px;width:16px;top:0;left:6px;}
#clock .digits .d1:before{  border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
#clock .digits .d1:after{   border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d2{         height:5px;width:16px;top:24px;left:6px;}
#clock .digits .d2:before{  border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
#clock .digits .d2:after{   border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

#clock .digits .d3{         height:5px;width:16px;top:48px;left:6px;}
#clock .digits .d3:before{  border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
#clock .digits .d3:after{   border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d4{         width:5px;height:14px;top:7px;left:0;}
#clock .digits .d4:before{  border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d4:after{   border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d5{         width:5px;height:14px;top:7px;right:0;}
#clock .digits .d5:before{  border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d5:after{   border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

#clock .digits .d6{         width:5px;height:14px;top:32px;left:0;}
#clock .digits .d6:before{  border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d6:after{   border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d7{         width:5px;height:14px;top:32px;right:0;}
#clock .digits .d7:before{  border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d7:after{   border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

#clock .digits div.one .d5,
#clock .digits div.one .d7{
    opacity:1;
}

/* 2 */

#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3{
    opacity:1;
}

/* 3 */

#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3{
    opacity:1;
}

/* 4 */

#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7{
    opacity:1;
}

/* 5 */

#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7{
    opacity:1;
}

/* 6 */

#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7{
    opacity:1;
}


/* 7 */

#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7{
    opacity:1;
}

/* 8 */

#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7{
    opacity:1;
}

/* 9 */

#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7{
    opacity:1;
}

/* 0 */

#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
    opacity:1;
}


/* The dots */

#clock .digits div.dots{
    width:5px;
}

#clock .digits div.dots:before,
#clock .digits div.dots:after{
    width:5px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    top:14px;
}

#clock .digits div.dots:after{
    top:34px;
}

/*-------------------------
    Weekdays
--------------------------*/


#clock .weekdays{
    font-size:12px;
    position:absolute;
    width:100%;
    top:10px;
    left:0;
    text-align:center;
}


#clock .weekdays span{
    opacity:0.2;
    padding:0 10px;
}

#clock .weekdays span.active{
    opacity:1;
}


/*-------------------------
        AM/PM
--------------------------*/


#clock .ampm{
    position:absolute;
    bottom:20px;
    right:1px;
    font-size:50px;
}


/*-------------------------
        Button
--------------------------*/


.button-holder{
    text-align:center;
    padding-bottom:100px;
}

a.button{
    background-color:#f6a7b3;

    background-image:-webkit-linear-gradient(top, #f6a7b3, #f0a3af);
    background-image:-moz-linear-gradient(top, #f6a7b3, #f0a3af);
    background-image:linear-gradient(top, #f6a7b3, #f0a3af);

    border:1px solid #eb9ba7;
    border-radius:2px;

    box-shadow:0 2px 2px #ccc;

    color:#fff;
    text-decoration: none !important;
    padding:15px 20px;
    display:inline-block;
    cursor:pointer;
}

a.button:hover{
    opacity:0.9;
}


/*----------------------------
    The Demo Footer
-----------------------------*/


footer{

    width: 770px;
    font: normal 16px Arial, Helvetica, sans-serif;
    padding: 15px 35px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -420px;

    background-color:#1f1f1f;

    background-image:-webkit-linear-gradient(top, #1f1f1f, #101010);
    background-image:-moz-linear-gradient(top, #1f1f1f, #101010);
    background-image:linear-gradient(top, #1f1f1f, #101010);

    border-radius:2px 2px 0 0;

    box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
    z-index:1;
}

footer a.tz{
    font-weight:normal;
    font-size:16px !important;
    text-decoration:none !important;
    display:block;
    margin-right: 300px;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:#bfbfbf !important;
    z-index:1;
}

footer a.tz:before{
    content: '';
    background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
    width: 138px;
    height: 20px;
    display: inline-block;
    position: relative;
    bottom: -3px;
}

footer .close{
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
    top:10px;
    right:10px;
    z-index: 3;
}

footer #tzine-actions{
    position: absolute;
    top: 8px;
    width: 500px;
    right: 50%;
    margin-right: -650px;
    text-align: right;
    z-index: 2;
}

footer #tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.gridster li{
    list-style: none;
}

#temperature h1{
    margin-top: -10%;
    margin-right: 20px;
    font-size: 115px
}

#weather-icon{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

#currcondition{
    margin-left: 17px;
    margin-top: 15px;
}

#temps{
    margin-right: 20px;
}

#city{
    margin-right: 20%;
}
/*
#alarm-modal{
    color: black;
}*/

.text-black {
    color: black;
}

.logo {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.welcome-logo {
    margin-top: 20%;
    width: 100%;
    text-align: center;
}


.site-title {
    margin-top: -5%;
    font-size: 100px;
    /*text-shadow: 4px 4px 10px black;*/
}


.login-form {
    background-color: white;
    color: black;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
  /*  margin-left: 30%;*/
}

.login-form a:link{
    color: skyBlue;
}

.login-form a:visited{
    color: skyBlue;
}
/*.login-title {
    font-size: 20px;
}*/

.alert {
    color: #215B66;
    background-color: white;
    margin-bottom: 0;
    border: 1px solid white;
}

.weather-info {
    margin-top: 30px;
}

.weather-city {
    color: skyBlue;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.start-button {
    margin-top: 5%;
}

.widget-padding {
    padding-left: 10px;
}

#alarm-button {
    color: black;
}

#widget-box:hover {
    box-shadow: 4px 4px 2px black;
}

#widget-box-weather:hover {
    box-shadow: 4px 4px 2px black;
}

#bart-box:hover {
    box-shadow: 4px 4px 2px black;
}